html
  head
    title= `${title}`
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

body.b1
    div.container
        h3.text-center.mb-5 All Cars

        table(style='width:100%; text-align: center;', border='1', cellspacing="0", cellpadding="0")
            thead
                tr
                    th Name
                    th Vehicle Number
                    th Model
                    th Seating Capacity
                    th Rent per day
                    th Actions
            tbody
            each car, i in cars
                tr 
                    td #{car.name}
                    td #{car.vehicle_number}
                    td #{car.model}
                    td #{car.seat_cap}
                    td ₹ #{car.rent}
                    td
                        a.btn.btn-outline-primary.btn-sm(href="/editcar/"+car._id) Edit
                        a#delete.btn.btn-outline-danger.btn-sm(href="/deletecar/"+car._id) Delete
                        a#delete.btn.btn-outline-success.btn-sm(href="/carbooking/"+car._id) Bookings